<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Amusing Joke.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Amusing Joke.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Anya and Ghosts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>Anya and Ghosts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>Arithmetic Progression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>Arithmetic Progression.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>Array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>Array.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>Beautiful Numbers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>Beautiful Numbers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>Blood Cousins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Booking System.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>Booking System.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>Building Permutation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>Building Permutation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>Caisa and Pylons.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Caisa and Pylons.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Chat room.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Chat room.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Checkposts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>Checkposts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>Ciel and Flowers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>Ciel and Flowers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>Cinema Line.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>Cinema Line.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Codeforces.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Color Stripe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>Color Stripe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>Colorful Graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>Colorful Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>Contest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>Contest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Convex Shape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>Convex Shape.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>Cut Ribbon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>Cut Ribbon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>Dima and Staircase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>Dima and Staircase.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>Divisibility by Eight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>Divisibility by Eight.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>Escape from Stones.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Escape from Stones.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Fancy Fence.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Fancy Fence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Fence.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Fence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Flipping Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>Flipping Game.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>Fools and Roads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Football.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Football.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Fox And Names.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>Fox And Names.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>Fox And Two Dots.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>Fox And Two Dots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>Fox and Box Accumulation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Fox and Box Accumulation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>Gargari and Bishops.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>Gargari and Bishops.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>Glad to see you!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Glad to see you!.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Hamburgers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>Hamburgers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>Ice Skating.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>Ice Skating.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>Ilya and Queries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>Ilya and Queries.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>Kolya and Tandem Repeat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>Kolya and Tandem Repeat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>Kuriyama Mirai's Stones.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>Kuriyama Mirai's Stones.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>Ladder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>Ladder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>Laptops.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Laptops.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Little Elephant and Bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>Little Elephant and Bits.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>Little Elephant and Problem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>Little Elephant and Problem.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>Little Girl and Maximum XOR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>Little Girl and Maximum XOR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>Mashmokh and ACM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>Mashmokh and ACM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Maximum Absurdity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>Maximum Absurdity.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>Maze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>Maze.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>Misha and Forest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>Misha and Forest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>Mr. Kitayuta, the Treasure Hunter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>Mr. Kitayuta, the Treasure Hunter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>Multiplication Table.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>Multiplication Table.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>Nearly Lucky Number.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Nearly Lucky Number.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>New Year and Buggy Bot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>New Year and Buggy Bot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>New Year and Counting Cards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>New Year and Counting Cards.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>New Year and Curling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>New Year and Curling.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Party.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>Party.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>Petya and Strings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Petya and Strings.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>PetyaAndExam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Pocket Book.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>Pocket Book.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>Powerful array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Powerful array.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Present from Lena.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Present from Lena.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Presents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Presents.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Puzzles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>Puzzles.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>Rank List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Rank List.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Removing Columns.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>Removing Columns.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>Restore Graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>Restore Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>SashaAndSticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Shadows of the Knight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Shadows of the Knight.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Slightly Decreasing Permutations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Slightly Decreasing Permutations.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>StrangeRadiation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>String Task.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>String Task.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>T-primes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>T-primes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>Tetrahedron.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>The Child and Toy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>The Child and Toy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>The Intriguing Obsession.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>The Intriguing Obsession.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>The Untended Antiquity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>The Untended Antiquity.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>To Add or Not to Add.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>To Add or Not to Add.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>Tram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Tram.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Twins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Twins.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>Ultra-Fast Mathematician.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Ultra-Fast Mathematician.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Vasya and Chess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>Vasya and Chess.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>View Angle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>View Angle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>Way Too Long Words.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Way Too Long Words.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Xenia and Bit Operations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>Xenia and Bit Operations.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>Xenia and Ringroad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Xenia and Ringroad.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>k-String.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>k-String.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>861AC1021F263C0B005566B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>861AC1101F263D5B005566B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>861AC11B1F2640FD005566B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>861AC1261F264898005566B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8673E0A01F48770E00CAFE32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8673E0AB1F48D44600CAFE32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>869DFFC31F63138A00F0B37D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
